{% extends 'base.html'%}
{% block title %}Stats Page{% endblock%}


{% block content%}
<div>
    <h1>{{ Patient_Name }}, {{dob}}, {{age}}</h1>

    <h2>Date of Recording {{date}}, Session Length: {{sessionlen}}, Session ID: {{sessionid}}</h2>

    <h3>Primary Indication: {{primarydiagnosis}}</h3>

    <h3>Max Heart Rate: {{maxhr}},Min Heart Rate: {{minhr}}, Average Heart Rate: {{averagehr}}</h3>

    <h1>Sample Sinus Rhythm from Session </h1>
    <img src="{{url_for('static', filename = 'sinus3.jpg')}}" alt="Bruh">
</div>

<div>
    <h2></h2>
</div>


{% endblock%}
